<h1 class="title">#BostonsBad</h1>
<h5 class="title">Submit your photos with Instagram using the #BostonsBad hashtag! Every day the best photos will be selected to appear on bostonsbad.com</h5>
<br/>

<% @posts.each do |post| %>
	
	<%= image_tag(post.image_url, class: "instagram") %>
	<p><%= post.caption %></p>
	<p>Submitted by: <%= link_to "#{post.submitted_by}","http://instagram.com/#{post.submitted_by}" %> </p>
	<br>
<% end %>