// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
	text-align: center;
	color: white;
	font-family: 'Lato', sans-serif;
}
.instagram{
	border-radius: 100%;
}
